<%= render(Primer::Alpha::Layout.new) do |component| %>
  <% component.with_main(width: :md, p: 6) do %>

    <h1>Editing proposal</h1>

    <%= render "form", proposal: @proposal %>

    <br>

    <div>
      <%= link_to "Show this proposal", @proposal %> |
      <%= link_to "Back to proposals", proposals_path %>
    </div>


  <% end %>
  <% component.with_sidebar %>
<% end %>
